body {
    overflow:auto; 
    width: 600px; 
    /* background: rgb(59, 230, 207);   */
    background: rgb(0,201,167);
    background: radial-gradient(circle, rgba(0,201,167,1) 75%, rgba(2,247,179,1) 100%);  
}

#left, #right { 
    width: 40%; 
    margin: 5px; 
    padding: 1em;  
    background: white;
    border-radius: 50px;  
    /* background: rgb(0,201,167);
    background: radial-gradient(circle, rgba(0,201,167,1) 75%, rgba(2,247,179,1) 100%); */
    
  } 
  
  #left  { 
    float:left;  
    /* vertical-align: left; */
    /* margin-left: 220px; */
  }

  #right  { 
    float:right;  
    /* vertical-align: right;
    margin-right: 220px; */
  }
 